<?xml version="1.0" encoding="UTF-8"?>

<choppah>
  <options>
    <skin>default</skin>
    <version>0.11</version>
  </options>
  <parameters>
    <currentPattern>14</currentPattern>
    <currentSequence>1</currentSequence>
    <currenPatternData>36236</currenPatternData>
    <sequencePosition>1</sequencePosition>
    <sequenceLength>2</sequenceLength>
    <patternDisplayRefresh>1</patternDisplayRefresh>
    <clockDivision>2</clockDivision>
    <mode>0</mode>
    <enveloppeType>0</enveloppeType>
    <gateLength>0.000000</gateLength>
    <dryWet>1.000000</dryWet>
    <outputGain>1.060000</outputGain>
  </parameters>
  <patterns>
    <pattern1>43690</pattern1>
    <pattern2>65535</pattern2>
    <pattern3>52428</pattern3>
    <pattern4>61166</pattern4>
    <pattern5>34952</pattern5>
    <pattern6>35562</pattern6>
    <pattern7>61680</pattern7>
    <pattern8>53199</pattern8>
    <pattern9>3855</pattern9>
    <pattern10>13107</pattern10>
    <pattern11>30583</pattern11>
    <pattern12>21845</pattern12>
    <pattern13>8738</pattern13>
    <pattern14>12721</pattern14>
    <pattern15>48059</pattern15>
    <pattern16>65535</pattern16>
  </patterns>
  <sequences>
    <sequence1>72621652109820162</sequence1>
    <sequence2>3761970466851730485</sequence2>
    <sequence3>7451319281593640808</sequence3>
    <sequence4>72696711011959302</sequence4>
    <sequence5>72696711011959302</sequence5>
    <sequence6>72696711011959302</sequence6>
    <sequence7>72696711011959302</sequence7>
    <sequence8>72696711011959302</sequence8>
    <sequence9>72696711011959302</sequence9>
    <sequence10>72696711011959302</sequence10>
    <sequence11>72696711011959302</sequence11>
    <sequence12>72696711011959302</sequence12>
    <sequence13>72696711011959302</sequence13>
    <sequence14>72696711011959302</sequence14>
    <sequence15>72696711011959302</sequence15>
    <sequence16>72696711011959302</sequence16>
  </sequences>
</choppah>
